/**
 * Mixins
 * @author Ignacio Ricci <ignacio.ricci@gmail.com>
*/

/* Transition
---------------------------------- */
@mixin transition($transition...) {
  -o-transition:$transition;
  -webkit-transition:$transition;
  transition:$transition;
}

/* Transform
---------------------------------- */
@mixin transform($transform) {
  -webkit-transform:$transform;
  -ms-transform:$transform;
  transform:$transform;
}