/**
 * Colors
 * @author Ignacio Ricci <ignacio.ricci@gmail.com>
*/

/* Map
---------------------------------- */

$colors: (
  'info': #00F,
  'danger': #F00,
  'success': #0F0
);

/* Variables
---------------------------------- */

$c_info:map-get($colors, 'info');
$c_danger:map-get($colors, 'danger');
$c_success:map-get($colors, 'success');