/**
 * Placeholders
 * @author Ignacio Ricci <ignacio.ricci@gmail.com>
*/

/* Ellipsis
---------------------------------- */
%ellipsis {
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  line-height:106%;
}

/* Clear floats
---------------------------------- */
%clear {

  min-height:1%;

  &:after {
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden;
  }

}